 /* header */
 .navbar {
    display: flex;
    justify-content: space-between;  /* spread out left and right */
    align-items: center;
    padding: 20px 110px;
    background-color: #0b0b0b;     /* match your dark theme */
    border-bottom: 3px solid #450693; /* choose your color */
    border-top: none;
    border-left: none;
    border-right: none;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 40px;                       /* spacing between nav items */
    margin: 0;
    padding: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #4ade80;                  /* green hover color */
  }
  
  .social-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  /* Optional: color change */
.icon.instagram:hover {
    color: #e1306c;
  }

  .icon.discord:hover {
      color:rgba(46, 204, 113, 0.4)
  }

  .icon.github:hover {
    color :blue;
  }
