.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background-color: #0d0d0d;
    padding: 3rem 2rem;
    text-align: left;
    /* border: 2px solid yellow; */
  }
  
  .hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 10rem;
    gap: 3rem;
    flex-wrap: wrap;
    /* border: 2px solid red */
  }

  .text-content {
    /* flex: 1; */
    min-width: 260px;
  }

  .text-content h1 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 0.6rem;
    color: #fff;
  }
  
  .text-content p {
    font-size: 1rem;
    color: #bfbfbf;
    margin-bottom: 1.5rem;
  }
  .btn {
    background: linear-gradient(90deg, #2ecc71, #27ae60);
    color: white;
    border: none;
    padding: 0.9rem 1.8rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 15px rgba(46, 204, 113, 0.4);
  }
  
  .btn:hover {
    transform: translateY(-3px);
    opacity: 0.9;
  }
  
  
  @media screen and (max-width: 768px) {
    .hero-content {
      align-items: center;
      justify-content: center;
      margin-top: 68px;
    }
    .text-content {
      text-align: center;
    }
  }
  
  .image-content img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #222;
    transition: transform 0.3s;
  }