.navbar {
    display: flex;
    justify-content: space-between;  /* spread out left and right */
    align-items: center;
    padding: 1rem 2rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
  }

  .logo{
        font-size: 1.5rem;
        /* font-weight: bold; */
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600px;
        font-style: normal;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #4ade80;                  /* green hover color */
  }
  
  .social-icons {
    display: flex;
    gap: 1rem;
  }

  .icon i {
      color: white;
      font-size: 1.2rem;
      transition: color 0.3;
  }

  .icon:hover o {
      color: white;
      font-size: 1.2rem;
      transition: color 0.3;
  }

  .icon:hover i {
      color: #8b5cf6;
  }
  