/* RESET & BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
  
  body {
    font-family: 'Inter', sans-serif;
    background-color: #0b0b0b;
    color: white;
    line-height: 1.5;
  }
  
  /* Icon base */
  .icon {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    position: relative;
    overflow: hidden;
  }
  
  /* The text label */
  .icon span {
    margin-left: 8px;
    font-size: 1rem;
    white-space: nowrap;
    max-width: 0;
    opacity: 0;
    transition: all 0.4s ease;
  }
  
  /* Hover effect — roll out the text */
  .icon:hover span {
    max-width: 100px;
    opacity: 1;
  }


  
  
  /* Responsive tweaks */
  @media (max-width: 768px) {
    #projects {
      padding: 60px 30px;
    }
    .projects-grid {
      gap: 25px;
    }
  }

  .neon-text {
    color: #ff4fd8;
    text-shadow:
        0 0 5px #ff4fd8,
        0 0 10px #ff4fd8,
        0 0 20px #ff4fd8,
        0 0 40px #ff1ec4,
        0 0 80px #ff1ec4;
    transition: 0.3s;
}

.neon-text:hover {
    text-shadow:
        0 0 10px #ff4fd8,
        0 0 20px #ff4fd8,
        0 0 40px #ff1ec4,
        0 0 80px #ff1ec4,
        0 0 120px #ff1ec4;
}
